apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: order-platform
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: 331867785866.dkr.ecr.us-east-1.amazonaws.com/intern-project/order-service:40
        ports:
        - containerPort: 8085

        env:
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          value: kafka:9092

        - name: OTEL_SERVICE_NAME
          value: order-service

        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: http://otel-collector:4318

        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8085
          initialDelaySeconds: 60
          periodSeconds: 30

        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8085
          initialDelaySeconds: 30
          periodSeconds: 10

        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: order-platform
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8085"
    prometheus.io/path: "/actuator/prometheus"
spec:
  selector:
    app: order-service
  ports:
  - port: 8085
    targetPort: 8085
  type: ClusterIP
